* {
    margin: 0px;
    padding: 0px;
    font-family: Saira;
    color: white;
    text-shadow: 0px 0px 1px black;
    line-height: 2em;
}

#faceview {
    width: 50vw;
    height: 28.125vw;
    right: 0px;
    position: fixed;
    background-color: white;
    top: 3%;
}

#camview {
    background-color: #ddddff;
    position: fixed;
    z-index: 10;
    left: 0%;
    width: 50vw;
    height: 28.125vw;
    top: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 2px #000;
}

#infoarea {
    top: 72%;
    width: 100%;
    position: fixed;
}

#stepSizeInput {
    width: 5em;
    height: 1.1em;
    color: white;
    background-color: transparent;
    border: 0px none transparent;
    border-bottom: 1px solid white;
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#stepSizeInput:focus {
    outline: none;
}